[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kivy = {extras = ["base"], version = "*"}
pycryptodome = "*"
argon2-cffi = "*"

[dev-packages]

[requires]
python_version = "3.9"
